.register .registerLink {
    text-decoration: none;
    color: white;
    margin : 0 8px 0 8px
   
}

.dropdown-menu .dropdown-item , .dropdown-menu {
    text-decoration: none;
    color: white;
    background-color: rgb(43, 46, 46);
}



